################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/MC.Cine/v17/.suo
/.vs/MC.Cine/v17/.wsuo
/.vs/MC.Cine/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/MC.Cine.API/bin/Debug/net8.0
/MC.Cine.API/obj/Debug/net8.0
/MC.Cine.API/obj/Release/net8.0
/MC.Cine.API/obj
/MC.Cine.BLL/bin/Debug/net8.0
/MC.Cine.BLL/obj/Debug/net8.0
/MC.Cine.BLL/obj/Release/net8.0
/MC.Cine.BLL/obj
/MC.Cine.DAL/bin/Debug/net8.0
/MC.Cine.DAL/obj/Debug/net8.0
/MC.Cine.DAL/obj/Release/net8.0
/MC.Cine.DAL/obj
/MC.Cine.DTO/bin/Debug/net8.0
/MC.Cine.DTO/obj/Debug/net8.0
/MC.Cine.DTO/obj
/MC.Cine.Utils/bin/Debug/net8.0
/MC.Cine.Utils/obj
/.vs/*
*.bin
*.v2
*.txt
